$mainColor: #ee4d2d;
$textLightColor: #fff;

.top-page {
    .wrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .title-text {
        font-size: 25px;
    }
}

.main-page {
    background-color: $mainColor;
    background-image: url(https://down-vn.img.susercontent.com/file/sg-11134004-7qvfs-lh39gro4enef63);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    .wrap {
        max-width: 1200px;
        margin: 0 auto;
        height: 600px;

    }

    .section-login {
        background-color: #fff;
        width: 400px;
        float: right;
        text-align: center;
        padding: 40px 32px;
        border-radius: 5px;
    }

    h5 {
        font-size: 20px;
        text-align: left;
        margin-bottom: 25px;
    }

    form input {
        box-shadow: inset 0 0 0 20px #fff;
        -webkit-box-shadow: 0 0 0 20px #fff inset;
        padding: 10px 12px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, .14);
        flex: 1;
        flex-shrink: 0;
        filter: none;
        display: block;
        width: 100%;
        font-size: 15px;
        border-radius: 2px;
    }

    form input[type="submit"] {
        color: $textLightColor;
        background-color: $mainColor;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .09);
        border: 0;
        text-transform: uppercase;
        font-size: 14px;

        margin-bottom: 8px !important;
    }

    form .wrap-input {
        margin-bottom: 20px !important;
    }

    form .text-error {
        margin: 0 0 0 2px;
        padding: 0.25rem 0 0;
        font-size: 13px;
        color: #ff424f;
        min-height: 1rem;
        text-align: left;
        display: block;
    }

    .action-forgetpass div {
        flex: 50%;
        color: #05a;
        font-size: 12px;
    }

    .text-or {
        margin: 10px 0 20px;

        .first,
        .last {
            height: 1px;
            width: 100%;
            background-color: #dbdbdb;
            flex: 1;
        }

        .text {
            color: #ccc;
            padding: 0 16px;
            text-transform: uppercase;
            font-size: 14px;
        }
    }

    .button-socials button {
        box-sizing: border-box;
        outline: none;
        border: 1px solid rgba(0, 0, 0, .26);
        background-color: #fff;
        color: rgba(0, 0, 0, .87);
        padding: 0 2px;
        border-radius: 2px;
        width: 100%;
        height: 40px;
        font-size: .875rem;
        flex: 50% 1;
        margin: 0 5px;

        svg {
            margin-right: 5px;
        }
    }

    .know-shopee {
        margin-top: 30px;
        white-space: pre;
        padding-right: 4px;
        color: rgba(0, 0, 0, .26);
        font-size: 14px;
        letter-spacing: 0;

        a {
            color: $mainColor;
            text-decoration: none;
        }
    }

}

.text-color-main {
    color: $mainColor;
}

.cursor {
    cursor: pointer;
}