body {
  margin: 0;
  font-family: 'HelveticaNeue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaLight'), url(./styles/fonts/HelveticaLight.ttf) format('ttf');
}